<div class="container">
    <div class="mt-4 mb-5">
        <div class="row">
            <div class="col-lg-3">
                <ul class="list-group">
                    <h5>Front-end</h5>
                    <li class="list-group-item">
                        <a class="list-group-link" href="">HTML, CSS</a>
                    </li>
                    <li class="list-group-item">
                        <a class="list-group-link" href="">Javascript</a>
                    </li>
                </ul>
                <ul class="list-group">
                    <h5>Back-end</h5>
                    <li class="list-group-item">
                        <a class="list-group-link" href="">NodeJS</a>
                    </li>
                </ul>
                <ul class="list-group">
                    <h5>DevOps</h5>
                </ul>
            </div>
            <div class="col-lg-9">
                {{#each courses}}
                <div class="card card-course-item">
                    <a href="/courses/{{this.slug}}">
                        <div class="card-img-top" style="background-image: url({{this.image}})"></div>
                        {{!-- <div class="card-img-top" src="{{this.image}}" alt="{{this.name}}"></div> --}}
                    </a>
                    <div class="card-body">
                        <a href="/courses/{{this.slug}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text">{{this.description}}</p>
                        <ul class="course-list-grid">
                            <li class="course-item-grid">
                                <img src="img/giphy.gif" alt="TonTon" />
                                <span>TonTon</span>
                            </li>
                            <li class="course-item-grid">
                                <a href="/courses/{{this.slug}}" class="btn btn-primary btn-course-free">Miễn phí</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</div>